* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#form {
	width: 330px;
	padding: 20px;
	background-color: whitesmoke;
	border-radius: 5px;
}

#form h1 {
	text-align: center;
}

#form button[type='submit'] {
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	color: white;
	background-color: rgb(41, 57, 194);
	border: none;
	border-radius: 5px;
}

#form button {
	padding: 10px;
	margin-top: 10px;
	width: 49%;
	color: white;
	background-color: rgb(41, 57, 194);
	border: none;
	border-radius: 5px;
}

.input-control {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.input-control input {
	border: 2px solid #f0f0f0;
	border-radius: 5px;
	display: block;
	padding: 10px;
	width: 100%;
}

/* ponistava default-ni plavi okvir*/
.input-control input:focus {
	outline: 0;
}

.input-control select:focus {
	outline: 0;
}

/*success class-a koju cemo dodati u js, isto i za error*/
.input-control.success input {
	border-color: #09c372;
}

.input-control.error input {
	border-color: #ff3860;
}

.input-control .error {
	color: #ff3860;
	font-size: 11px;
	height: 13px;
}

.input-control output {
	border: 2px solid #f0f0f0;
	border-radius: 5px;
	display: block;
	padding: 10px;
	width: 100%;
}

button#oduzmi {
	background-color: #ff3860;
}

button#saberi {
	background-color: #09c372;
}

#form button:hover {
	cursor: pointer;
}

.input-control select {
	border: 2px solid #f0f0f0;
	border-radius: 5px;
	display: block;
	padding: 10px;
	width: 100%;
}
